<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Woods GmbH</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous">

    </script>
    <link href="home.css" rel="stylesheet" />
    <script src="home.js"></script>
</head>
<body>
    <div id="navbar" class="mb-3"></div>
    <div style="margin-top: 100px" class="container">
        <div class="row">
            <a style="background-color: #e34242; color: white; text-decoration: none"
               class="home-nav-card col d-flex flex-column justify-content-center text-center me-4"
               href="../gallery/gallery.html">
                <i class="fa fa-7x fa-solid fa-image"></i>
                <h2>Gallery</h2>
            </a>
            <a style="background-color: #47a2c9; color: white; text-decoration: none"
               class="home-nav-card col d-flex flex-column justify-content-center text-center"
               href="../wireframe/wireframe.html">
                <i class="fa fa-7x fa-brands fa-codepen"></i>
                <h2>Wireframes</h2>
            </a>
        </div>
        <div class="row mt-4">
            <a style="background-color: #4245f5; color: white; text-decoration: none"
               class="home-nav-card col d-flex flex-column justify-content-center text-center me-4"
               href="../copyright/copyright.html">
                <i class="fa-7x fa-solid fa-copyright"></i>
                <h2>Copyright & DSGVO</h2>
            </a>
            <div style="background-color: #9b07ab; color: white;" class="home-nav-card col d-flex flex-column justify-content-center text-center">
                <i class="fa fa-7x fa-pen-fancy"></i>
                <h2>Styleguide</h2>
            </div>
        </div>
        <div class="row mt-4">
            <div style="background-color: #c20a0a; color: white;" class="home-nav-card col d-flex flex-column justify-content-center text-center">
                <i class="fa fa-7x fa-book"></i>
                <h2>Learning Journal</h2>
            </div>
        </div>
    </div>
</body>
</html>
