<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wireframes</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <script src="wireframe.js"></script>
    <link href="wireframe.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="navbar" class="mb-3"></div>
    <div class="container">
        <div class="row mb-3">
            <div class="col">
                <h4>About Wireframes</h4>
                We’re going to learn what a wireframe is and how ours look.<br>
                Simply a wireframe is a simplified mockup of a UI or Webpage, it uses the most basic shapes to create a rough look of the website.<br>
                After having a low fidelity wireframe, we can move up and create a high-fidelity wireframe. The high-fidelity wireframe is fundamentally similar to the low fi, but has some differences.<br>
                With the high-fidelity wireframe clickable buttons, colors, and a real representation of how the application/UI should look like. A good high fi wireframe will make people question if the wireframe is just a mockup or the actual product.<br>
            </div>
            <div class="col-6">
                <h4>Wireframe for current page</h4>
                <img style="max-width: 100%" src="assets/Wireframe_Wireframes.png">
            </div>
        </div>
        <div class="row mb-5">
            <div class="col">
                <div id="carousel" class="carousel carousel-dark slide" data-bs-ride="true">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-slide-to="0" data-bs-target="#carousel" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-slide-to="1" data-bs-target="#carousel" aria-label="Slide 2"></button>
                        <button type="button" data-bs-slide-to="2" data-bs-target="#carousel" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active ">
                            <img src="assets/Wireframe_Home.png" class="d-block w-100">
                            <div class="carousel-caption d-none d-md-block">
                                <p>Homepage mockup</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="assets/Wireframe_Content1.png" class="d-block w-100">
                            <div class="carousel-caption d-none d-md-block">
                                <p>First mockup for content</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="assets/Wireframe_Content2.png" class="d-block w-100">
                            <div class="carousel-caption d-none d-md-block">
                                <p>Second mockup for content</p>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-slide="prev" data-bs-target="#carousel">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-slide="next" data-bs-target="#carousel">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>