<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Copyright</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <script src="copyright.js"></script>
    <link href="copyright.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="navbar" class="mb-3"></div>
    <div class="container">
        <h4 class="mb-4 mt-4 text-center">All about Copyright</h4>
        <div class="row mb-4">
            <div class="accordion" id="copyrightAccordion">
                <div class="accordion-item">
                    <div class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <h4>Copyright</h4>
                        </button>
                    </div>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#copyrightAccordion">
                        <div class="accordion-body">
                            “Copyright is a type of intellectual property that protects original works of authorship as soon as an author fixes the work in a tangible form of expression. In copyright law, there are a lot of different types of works, including paintings, photographs, illustrations, musical compositions, sound recordings, computer programs, books, poems, blog posts, movies, architectural works, plays, and so much more!” <a href="https://www.copyright.gov/what-is-copyright/ 17.06.2022">https://www.copyright.gov/what-is-copyright/ 17.06.2022</a>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <h4>Difference between possession vs ownership</h4>
                        </button>
                    </div>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#copyrightAccordion">
                        <div class="accordion-body">
                            In everyday life, possession is often equated with ownership. Legally, a person is the owner of a thing if he has actual power (dominion) over it. In contrast to ownership, possession is more related to actual than to legal circumstances.<br>
                            Example:
                            The owner of a house can do everything property, ranging from painting the wall, building a new room, or closing a room, as long as it follows the laws and all contract rules that have been established to that point.<br>
                            That means as an owner of a housing complex I can rent an apartment. After renting the apartment to a new tenant he becomes the possessor.<br>
                            As a possessor he can’t do the same as the owner, he most likely needs to ask the owner before constructing a new room or demolishing one.<br>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <h4>Can data be copyrighted?</h4>
                        </button>
                    </div>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#copyrightAccordion">
                        <div class="accordion-body">
                            Surprisingly things like data or ideas cannot be copyrighted. Facts are the base of this decision, since facts aren’t allowed to be copyrighted data can’t as well, databases are still inside of public domain and contain facts, but just in another format.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            <h4>How can data be copyrighted?</h4>
                        </button>
                    </div>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#copyrightAccordion">
                        <div class="accordion-body">
                            “Databases can be protected by copyright as a compilation, but only under certain conditions. The first is that mere collection of data is not enough.<br>The arrangement and selection of data must be sufficiently creative or original.” (<a href="https://sco.library.emory.edu/research-data-management/publishing/copyright-data.html">https://sco.library.emory.edu/research-data-management/publishing/copyright-data.html</a>, 17.06.2022)<br>

                            Good source to learn about data and copyright:
                            <a href="https://guides.uflib.ufl.edu/copyright/datamanagement">https://guides.uflib.ufl.edu/copyright/datamanagement</a>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-header" id="headingTen">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                            <h4>What is a license?</h4>
                        </button>
                    </div>
                    <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen" data-bs-parent="#copyrightAccordion">
                        <div class="accordion-body">
                            You can think of a license as a permission to use someone digital content or digital copyright.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-header" id="headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            <h4>Can copyrights be transferred?</h4>
                        </button>
                    </div>
                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#copyrightAccordion">
                        <div class="accordion-body">
                            Copyrights are treated like properties and like properties can be transferred.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-header" id="headingSix">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            <h4>What is Open Source?</h4>
                        </button>
                    </div>
                    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#copyrightAccordion">
                        <div class="accordion-body">
                            Open-source software is computer software released under a license in which the copyright holder grants users the right to use, study, modify, and distribute the software and its source code to anyone and for any purpose.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-header" id="headingSeven">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                            <h4>Can you defend your copyright if it’s used without your permission?</h4>
                        </button>
                    </div>
                    <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#copyrightAccordion">
                        <div class="accordion-body">
                            As the owner of copyright and related property rights, you can demand that your rights be respected both in civil and criminal proceedings. In both cases, the competent judge will decide whether your rights have been violated. (<a href="https://www.ige.ch/de/etwas-schuetzen/urheberrecht/ein-werk-schuetzen/rechte-einfordern">https://www.ige.ch/de/etwas-schuetzen/urheberrecht/ein-werk-schuetzen/rechte-einfordern</a>, 24.06.2022)
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-header" id="headingEight">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                            <h4>What is a public domain?</h4>
                        </button>
                    </div>
                    <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#copyrightAccordion">
                        <div class="accordion-body">
                            All intellectual creations to which there are no intellectual property rights, in particular no copyright, are subject to the public domain. The public domain found in Anglo-American countries is similar, but not identical, to the European public domain.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-header" id="headingNine">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                            <h4>What is considered fair use?</h4>
                        </button>
                    </div>
                    <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#copyrightAccordion">
                        <div class="accordion-body">
                            Fair use is a legal doctrine in the copyright systems of some common-law countries that allows certain unauthorized uses of copyrighted material so long as it serves the purpose of public education and the stimulation of intellectual production.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h4 class="mb-4 text-center">Copyright Questions and Answers</h4>
        <div class="row mb-4">
            <div class="col-4" id="row1">

            </div>
            <div class="col-4" id="row2">

            </div>
            <div class="col-4" id="row3">

            </div>
        </div>
    </div>
</body>
</html>
